.contact-form {
	min-height: 300px;
}
.contact-form__title {
	text-align: center;
}
.contact-form__list {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 500px;
	border: 4px solid #e1e1e1;
}
.contact-form__item {
	margin-top: 25px;
	margin-bottom: 40px;
	text-align: center;
}
.contact-form__label {
	font-size: 20px;
}
.contact-form__input {
	font-size: 15px;
    height: 35px;
    text-align: center;
    width: 250px;
}
.contact-form__but {
	text-align: center;
    margin-bottom: 40px;
}
.contact-form__button {
	background: #1ABB7B;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
.contact-form__button:hover {
	background: #1ABB5B;
}