.costumers {
	margin-bottom: 50px;
	min-height: 330px;
	background: #525355 url("../img/costumers-bg.jpg") no-repeat;
	background-size: cover;
}
.costumers__title {
	position: relative;
	padding-bottom: 26px;
	padding-top: 76px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #d0d0d0;
}
.costumers__title::before {
    position: absolute;
    content: "";
    top: 86px;
    right: 361px;
    width: 82px;
    height: 1px;
    background: url(../img/welcome-line.png);
    opacity: 0.5;
}
.costumers__title::after {
    position: absolute;
    content: "";
    top: 86px;
    left: 361px;
    width: 82px;
    height: 1px;
    background: url(../img/welcome-line.png);
    opacity: 0.5;
}
.costumers__text {
	padding-bottom: 9px;
	margin: 0 auto;
	width: 970px;
	font-size: 20px;
	line-height: 35px;
	text-align: center;
	font-weight: 300;
	color: #d8d8d8;
}
.costumers__sign {
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	font-weight: 800;
	text-transform: uppercase;
	color: #1abb9c;
}
.costumers__label {
	font-size: 0;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: -28px;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #777777;
}
li.slick-active {
	border: 1px solid #bebebe;
}
.slick-dots li button {
	display: none;
}