.costumers {
	margin-bottom: 50px;
	min-height: 330px;
	background: #525355 url("../img/costumers-bg.jpg") no-repeat;
	background-size: cover;
}
.costumers__title {
	position: relative;
	padding-bottom: 26px;
	padding-top: 76px;
	margin: 0 auto;
	width: 243px;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #d0d0d0;
}
.costumers__title::before {
    position: absolute;
    content: "";
    top: 86px;
    right: 261px;
    width: 82px;
    height: 1px;
    background: url(../img/welcome-line.png);
    opacity: 0.6;
}
.costumers__title::after {
    position: absolute;
    content: "";
    top: 86px;
    left: 261px;
    width: 82px;
    height: 1px;
    background: url(../img/welcome-line.png);
    opacity: 0.6;
}
.costumers__text {
	padding-bottom: 9px;
	margin: 0 auto;
	width: 970px;
	font-size: 20px;
	line-height: 35px;
	text-align: center;
	font-weight: 300;
	color: #d8d8d8;
}
.costumers__sign {
	margin: 0 auto;
	width: 117px;
	font-size: 12px;
	line-height: 22px;
	font-weight: 800;
	text-transform: uppercase;
	color: #1abb9c;
}
.costumers__label {
	font-size: 0;
}
.costumers__controls {
	display: flex;
	justify-content: space-between;
	padding-top: 14px;
	margin: 0 auto;
	width: 52px;
}
input[type="radio"] {
	display: none;
}
input[type="radio"]+label::before {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid #777777;
	cursor: pointer;
}
input[type="radio"]:checked+label::before {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid #bebebe;
	cursor: pointer;
}
input[type="radio"]+label:hover::before {
	border: 1px solid #000;
	}