.main-logo {
	margin-top: 25px;
    height: 50px;
    background: $color-header;
    width: 50px;
    border-radius: 50%;
}
.main-logo__button {
	padding-left: 16px;
	font-family: 'Bebas Neue';
	font-size: 16px;
    line-height: 18px;
    letter-spacing: 7px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}