.process {
	margin-bottom: 50px;
	min-height: 408px;
	background: #1a1a1a url("../img/process.jpg") no-repeat;
	background-size: cover;
}
.process__title {
	position: relative;
	padding-bottom: 12px;
    margin: 0px auto;
    padding-top: 76px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #d0d0d0;
    text-transform: uppercase;
}
.process__title::before {
    position: absolute;
    content: "";
    top: 86px;
    right: 429px;
    width: 82px;
    height: 1px;
    background: url(../img/welcome-line.png);
    opacity: 0.6;
}
.process__title::after {
    position: absolute;
    content: "";
    top: 86px;
    left: 429px;
    width: 82px;
    height: 1px;
    background: url(../img/welcome-line.png);
    opacity: 0.6;
}
.process__text {
	padding-bottom: 43px;
	margin: 0 auto;
	width: 870px;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #d0d0d0;
}
.process__list {
	display: flex;
	justify-content: space-between;
	text-align: center;
    width: 1110px;
    margin-left: 33px;
}
.process__elipse--all {
	position: relative;
	margin: 0 auto;
	width: 95px;
	height: 95px;
	background-color: #1abb9c;
	border-radius: 50%;
}
.process__elipse {
	position: relative;
	margin: 0 auto;
	width: 95px;
	height: 95px;
	border: 2px solid #1abb9c;
	border-radius: 50%;
}
.process__img {
	padding-top: 23px;
}
.process__info {
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 700;
	color: #dddddd;
}