.title {
	text-decoration: none;
	color: $color-welcome;
}
.title:hover {
    color: $color-hover;
}
.title__twitter {
	color: #f0f0f0;
}
.title__post {
	color: #f0f0f0;
}
.title__copyrate {
	color: #f0f0f0;
}