.welcome-coursel {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 550px;
	background: #c5b6b1 url("../img/welcome-bg.jpg") no-repeat;
}
.welcome-coursel__prev {
    width: 45px;
    background: #fdfdfd;
    height: 45px;
    text-align: center;
    margin-bottom: 103px;
    margin-left: 20px;
    cursor: pointer;
}
.welcome-coursel__prev:hover {
	background: #eaebed;
}
.welcome-coursel__cursor {
	display: inline-block;
	padding-top: 10px;
	font-weight: 600;
	@include welcome
}
.welcome-coursel__item {
	margin-left: 50px;
	margin-bottom: 50px;
    width: 420px;
    min-height: 48px;
    background: #fdfdfd;
}
.welcome-coursel__text {
	padding-top: 14px;
    padding-left: 19px;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: $color-welcome;
}
.welcome-coursel__span {
	color: #1abb9c;
}
.welcome-coursel__title {
	margin-left: 50px;
	margin-bottom: 3px;
	width: 361px;
    min-height: 48px;
    background: #fdfdfd;
}
.welcome-coursel__head {
	padding-top: 14px;
    padding-left: 20px;
	margin: 0;
	text-transform: uppercase;
	@include welcome
}